body {
        background: #178a27;
        font-family: Tahoma, Arial, sans-serif;
        color: #ffffff;
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
      }

.header_main_page {
    text-align: center;
}

#logo_article_id {
  display: inline-block;
  padding: 15px;
  border: 4px solid #4a9124;
  text-align: center;
  border-radius: 15px;
  background-image: linear-gradient(to bottom top, #1b4d11, #16647d);
}

.autorization_block {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  float: left;
}

.sig_in_section,
.sig_up_section,
.sig_out_section,
.add_article_section {
  display: inline-block;
  padding: 5px 10px;
  background-color: #1b4d11;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 16px;
}

.a_sig{
    color: white;
    text-decoration: none;
}

.sig_in_section:hover,
.sig_up_section:hover,
.sig_out_section:hover,
.add_article_section:hover {
  background-color: #000000;
}

#all_states{
    float:right;
}

#logo_text {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    vertical-align: right;
}

#logo_article_id img {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.header img {
    display: inline-block;
    width: 26px;
    margin-left: auto;
    margin-right: auto;
}

#all_states{
    text-decoration: underline;
    font-size: 24px;
    vertical-align: middle;
}

.post-title{
    text-decoration: underline;
}

.article-info div {
  display: inline-block;
  vertical-align: middle;
}

.article-created-date{
    float: right;
    font-size: 18px;
    font-style: italic;
}

.article-author{
    font-size: 18px;
    font-weight: bold;
}

a {
color: black;
}

.article-text{
    text-align: justify;
    width: 1024px;
}

#article_title, #article_text{
    width:1024px;
}

#article_text{
    height: 300px;
}

.header_main_page{

}